examples/Schema/PlugIns/EROM_SCHEMA/Common.xsd

<?xml version="1.0" encoding="utf-8"?>

<!--
  This material contains trade secrets or otherwise
  confidential information owned by Siemens Industry
  Software Inc. or its affiliates (collectively, "Siemens"),
  or its licensors. Access to and use of this information
  is strictly limited as set forth in the Customer's
  applicable agreements with Siemens.

  Unpublished work. Copyright 2023 Siemens
-->

<!--
This schema contains definition for basic common types
-->
<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://www.mentor.com/FloTHERMXT/XtXML"
           xmlns="https://www.mentor.com/FloTHERMXT/XtXML">
    
    <xs:simpleType name="bool_type">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>

    <xs:simpleType name="string_type">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

  <xs:simpleType name="non_empty_string_type">
    <xs:restriction base="string_type">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="int_type">
        <xs:restriction base="xs:integer"/>
    </xs:simpleType>

    <xs:simpleType name="decimal_type">
        <xs:restriction base="xs:decimal"/>
    </xs:simpleType>

    <xs:simpleType name="double_type">
        <xs:restriction base="xs:double"/>
    </xs:simpleType>

    <xs:simpleType name="float_type">
        <xs:restriction base="xs:float"/>
    </xs:simpleType>

    <xs:simpleType name="version_type">
      <xs:restriction base="xs:decimal">
        <xs:minInclusive value="0.0" />
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="guid_type">
      <xs:restriction base="string_type">
        <xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}" />
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="serial_type">
      <xs:restriction base="xs:string">
        <xs:pattern value="[0-9A-Fa-f]{32}"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="serial_or_empty_type">
      <xs:restriction base="xs:string">
        <xs:pattern value="[0-9A-Fa-f]{32}|^$"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="serial_attr">
      <xs:attribute name="serial" type="serial_type" />
    </xs:complexType>

    <xs:complexType name="attachment_attr">
      <xs:complexContent>
        <xs:extension base="serial_attr">
          <xs:attribute name="attachment_id" type="string_type" use="optional" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  
    <xs:complexType name="single_unsignedShort_value">
        <xs:attribute name="value" type="xs:unsignedShort" use="required" />
    </xs:complexType>

    <xs:complexType name="single_float_value">
        <xs:attribute name="value" type="float_type" use="required" />
    </xs:complexType>

    <xs:complexType name="single_double_value">
        <xs:attribute name="value" type="double_type" use="required" />
    </xs:complexType>

    <xs:complexType name="double_point_pair">
        <xs:attribute name="x" type="double_type" use="required" />
        <xs:attribute name="y" type="double_type" use="required" />
    </xs:complexType>

    <xs:complexType name="double_vector">
        <xs:attribute name="x" type="double_type" default="0" />
        <xs:attribute name="y" type="double_type" default="0" />
        <xs:attribute name="z" type="double_type" default="0" />
    </xs:complexType>
    
    <xs:complexType name="position">
          <xs:complexContent>
              <xs:extension base="double_vector"/>
          </xs:complexContent>    
    </xs:complexType>

    <xs:complexType name="size">
        <xs:attribute name="x" type="double_type" default="0.1" />
        <xs:attribute name="y" type="double_type" default="0.1" />
        <xs:attribute name="z" type="double_type" default="0.1" />
    </xs:complexType>

    <xs:simpleType name="neg1toPos1">
        <xs:restriction base="double_type">
            <xs:minInclusive value="-1"/>
            <xs:maxInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>

  <xs:simpleType name="zero_to_one_type">
    <xs:restriction base="double_type">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="percent_type">
    <xs:restriction base="double_type">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="100"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="positive_real_type">
    <xs:restriction base="double_type">
      <xs:minExclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="non_negative_real_type">
    <xs:restriction base="double_type">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

    <xs:complexType name="double_table">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="entry" type="double_point_pair" />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="value_type">
        <xs:restriction base="string_type">
            <xs:enumeration value="single_value"/>
            <xs:enumeration value="table"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="values_Definition">
        <xs:choice>
            <xs:element name="single_value" type="single_double_value"/>
            <xs:element name="table"        type="double_table"/>
        </xs:choice>
    </xs:complexType>

  <xs:complexType name="rotation">
    <xs:attribute name="r00" type="neg1toPos1" default="1" />
    <xs:attribute name="r01" type="neg1toPos1" default="0" />
    <xs:attribute name="r02" type="neg1toPos1" default="0" />
    <xs:attribute name="r10" type="neg1toPos1" default="0" />
    <xs:attribute name="r11" type="neg1toPos1" default="1" />
    <xs:attribute name="r12" type="neg1toPos1" default="0" />
    <xs:attribute name="r20" type="neg1toPos1" default="0" />
    <xs:attribute name="r21" type="neg1toPos1" default="0" />
    <xs:attribute name="r22" type="neg1toPos1" default="1" />
  </xs:complexType>

  <xs:complexType name="cylinder_dimensions">
    <xs:attribute name="radius" type="positive_real_type" />
    <xs:attribute name="height" type="positive_real_type" />
  </xs:complexType>

</xs:schema>